bin
obj
.vs

*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
packages/
.vs/
*.obj
*.pdb

_ReSharper*

Thumbs.db
Desktop.ini

ConnectionStrings.Release.config
ConnectionStrings.Debug.config
PrivateSettings.config