@{
    ViewBag.Title = "500 - Server Error";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>500 - Something Went Wrong...</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-page-wrapper">
                    <p>Error 500</p>
                    <p>We track these errors automatically, but if the problem persists feel free to contact us.</p>
                </div>
            </div>
        </div>
    </div>
</div>