@{
    ViewBag.Title = "Account Deleted";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Account Deleted</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    <p align="center">Your account has been deleted successfully!</p>
                    <p align="center">We're sad to see you leave and hope you have made the most out of your Career Pathfinder experience.</p><br />
                    <div class="row">
                        <div class="col-md-6 col-md-offset-4">
                            <div class="form-group">
                                <a href="@Url.Action("Index", "Home")" class="btn">Take me Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

