@model ProjectPathfinder.ViewModels.AccountResetPassword

@{
    ViewBag.Title = "Reset Password";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Reset Password</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    @using (Html.BeginForm("Reset_Password", "Account",
                            new { ReturnUrl = ViewBag.ReturnUrl },
                            FormMethod.Post, new { @data_toggle = "validator" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        @Html.Hidden("id", Model.Id);

                        //Password
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <span data-toggle="tooltip" title="A minimum of 8 characters including a digit, uppercase or special character is required." data-placement="bottom">
                                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @id = "password", @data_minlength = "8", @required = "true", @class = "form-control input-lg", @placeholder = "New Password" } })
                                    </span>  
                                    
                                    <span class="help-block">Minimum of 6 characters</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" id="password_confirmation" class="form-control input-lg" placeholder="Confirm New Password" data-match="#password" data-match-error="Whoops, your passwords do not match!" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        //End Password

                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-md-offset-3"><input type="submit" value="Reset Password" class="btn btn-primary btn-block btn-lg"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>