@{
    ViewBag.Title = "Premium Content";
}

<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>
                        Unlock the Complete <img src="@Url.Content("~/Assets/Images/careerpathfinder-logo-text.png")"> Package to continue.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                <!-- Pricing Plans Wrapper -->
                <div class="pricing-wrapper">
                    <!-- Promoted Pricing Plan (White Background) -->
                    <div class="pricing-plan pricing-plan">
                        <h2 class="pricing-plan-title">The CareerPathfinder Package</h2>
                        <div class="pricing-plan-price">R599.99</div>
                        <ul class="pricing-plan-features">
                            <li>Complete CareerPathfinder Test</li>
                            <li>Unlimited Career Resources</li>
                            <li>Feedback from Councellors</li>
                        </ul>
                        @using (Html.BeginForm())
                        {
                            @* TODO: redirect to payfast *@
                            <span data-toggle="tooltip" title="You will be redirected to our secure payment gateway." data-placement="top">
                                <button type="submit" class="btn">Purchase Now</button>
                            </span>
                        }
                    </div>
                    <!-- End Promoted Pricing Plan (White Background) -->
                    <!-- Pricing Plan -->
                </div>
                <!-- End Pricing Plans Wrapper -->
            </div>
        </div>
    </div>
</div>

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <h3 class="primary-colour service-wrapper-row">A once of fee to unlock the complete CareerPathfinder package</h3>
                    <h4>
                        <span class="primary-colour glyphicon glyphicon-ok"></span> You will unlock the <strong>complete</strong> CareerPathfinder test. <br />
                    </h4>
                    <h4>
                        <span class="primary-colour glyphicon glyphicon-ok"></span>  You will unlock access to <strong>unlimited</strong> career resources such as job shadowing documents and much more.<br />
                    </h4>
                    <h4>
                        <span class="primary-colour glyphicon glyphicon-ok"></span>  You will unlock private <strong>result feedback</strong> from professional career councellors.<br />
                    </h4>
                    <h4>
                        <span class="primary-colour glyphicon glyphicon-ok"></span>  You will unlock <strong>unlimited and direct</strong> communication with professional career councellors.<br />
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->