@{
    Layout = "~/Areas/Member/Views/Shared/_TestLayout.cshtml";
    ViewBag.Title = "Step Five";
}

@model ProjectPathfinder.Areas.Member.ViewModels.TestStepFive
@using ProjectPathfinder.Infrastructure.Extensions

<div class="section">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-body">

                <h3 class="test-step-title"><span class="circleLetter">5</span>Personality</h3>

                @using (Html.BeginForm())
                {
                    <div>@Html.ValidationSummary()</div>
                    @Html.Partial("~/Views/AreaPartials/_Step_05_1.cshtml", Model)
                    @Html.TestScreenButtons("Step_05_1")
                }

            </div>
        </div>
    </div>
</div>
