@{
    Layout = "~/Areas/Member/Views/Shared/_TestLayout.cshtml";
    ViewBag.Title = "Step Eleven 1";
}

@model ProjectPathfinder.Areas.Member.ViewModels.TestStepEleven_1
@using ProjectPathfinder.Infrastructure.Extensions

<div class="section">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-body">

                <p><label>11. PERSONALITY TEST FOR SCORING PURPOSES</label></p>

                <p>Select the appropriate answer with a Yes or No</p>

                @using (Html.BeginForm())
                {
                    <div>@Html.ValidationSummary()</div>
                    @Html.Partial("~/Views/AreaPartials/_Step_11_1.cshtml", Model)
                    @Html.TestScreenButtons("Step_11_1")
                }
                
            </div>
        </div>
    </div>
</div>

